body {
    background-color: #DDD0C8;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 60px);
    /* Cała wysokość ekranu minus navbar */
    padding-top: 20px;
    /* Odstęp od navbaru */
}

video {
    width: 498px;
    height: 498px;
    border: 5px solid #333;
    /* Czarna ramka */
    border-radius: 10px;
    /* Zaokrąglone rogi ramki */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /* Lekki cień */
}

img {
    width: 498px;
    height: 498px;
    border: 5px solid #333;
    /* Czarna ramka */
    border-radius: 10px;
    /* Zaokrąglone rogi ramki */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /* Lekki cień */
}

#naglowek {
    display: flex;
    justify-content: center;
}