{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card"
                style="border: 2px solid #323232; padding: 20px; border-radius: 8px; background-color: #f8f9fa;">
                <div class="card-body">
                    <h2 class="text-center">Zaloguj się</h2>
                    <form method="POST" action="{{ url_for('security.login') }}">
                        {{ form.hidden_tag() }}

                        <div class="mb-3">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control", placeholder="Twój email") }}
                        </div>

                        <div class="mb-3">
                            {{ form.password.label(class="form-label") }}
                            {{ form.password(class="form-control", placeholder="Twoje hasło") }}
                        </div>

                        <div class="mb-3 form-check">
                            {{ form.remember.label(class="form-check-label") }}
                            {{ form.remember(class="form-check-input") }}
                        </div>

                        <button type="submit" class="btn btn-dark w-100">Zaloguj się</button>
                    </form>

                    <div class="text-center mt-3">
                        <a href="{{ url_for('security.register') }}">Nie masz konta? Zarejestruj się!</a>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <small class="text-muted">Twoje sekrety są z nami bezpieczne</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}